{% extends 'commn.html' %}
{% block comn %}
    <form action="{% url 'cuser_loin_request' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0">
<tr>
    <th style="text-align: center">
        cuser log_in
    </th>
</tr>
<tr>
    <th>
        <br>

           <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"></span>
                </div>
                              <input type="text" class="form-control" required placeholder="username" aria-label="Username" name="cul1" aria-describedby="addon-wrapping">
            </div>
    </th>
</tr>
<tr>
    <th>
        <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"></span>
                </div>
                    <input type="password" class="form-control" required placeholder="password" name="cul2" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
    </th>
</tr>

<tr>
    <th style="text-align: center">
        <button type="submit" class="btn btn-secondary btn-sm">log_in</button>
    </th>
    {% if umes %}
</tr>
        <tr>
            <th colspan="5" style="text-align: center">
                {{ umes }}
            </th>
        </tr>
        {% endif %}
        {% for mes in messages %}
    <tr>
        <th colspan="5" style="text-align: center">
            {{ mes }}
        </th>
    </tr>
    {% endfor %}
</table>
    </form>
{% endblock %}