{% extends 'commn.html' %}
{% block comn %}

    <table align="center" border="0">
        <tr>
        <th>results for:{{ searchname }}</th>
  </tr>
    </table>
    <table align="center" border="2">
    {% if data %}
    <tr>
        <th> course name   </th>
        <th> faculty name   </th>
        <th> date   </th>
        <th> time</th>
        <th> fee   </th>
        <th> duration days   </th>
    </tr>
    {% for i in data %}
        <tr>
            <th> {{ i.name }}  </th>
            <th> {{ i.faculty_name }}  </th>
            <th> {{ i.date }}  </th>
            <th> {{ i.time }}</th>
            <th> {{ i.fee }}  </th>
            <th> {{ i.durtion_days }}  </th>
            <th>
    {% endfor %}
    {% endif %}
    </table>

{% endblock %}