{% extends 'commn.html' %}
{% block comn %}

    <table align="center" border="2">
    <tr>
        <th>results</th>
    </tr>
        <tr>
        <th>
            {{ data.name }}
        </th>
    </tr>
    <tr>
        <th>
        </th>
    </tr>
    <tr>
        <th>{{ data.faculty_name }}</th>
    </tr>
    {% for i in data %}
        <tr>
        <th>
            {{ i.Email }}
        </th>
        <th>
            {{ i.Name }}
        </th>
        <th>
            {{ i. }}
        </th>
        </tr>
    {% endfor %}
    </table>

{% endblock %}